@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Fredericka+the+Great&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: 'Saira Condensed', sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    --prim: #ff4500;
    --sec: #71c6e8;
    --gold: goldenrod;
    --black: #000;
    --dark: #111;
    --light: #eee;
    --grey-d: #333;
    --grey-m: #787878;
    --grey-l: #ccc;
    --yell-l: #f8f8c3;
    --bord-r: 0.5rem;
    --trns: all 0.5s;
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center
}

.mouse-circle,
.mouse-dot {
    border-radius: 50%;
    position: fixed;
    z-index: 300;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.mouse-circle {
    width: 6rem;
    height: 6rem;
    border: 0.1rem solid var(--sec);
    animation: mouseCircleAnim 10s infinite linear;  
}

@keyframes mouseCircleAnim {
    0% {
        width: 6rem;
        height: 6rem;
    }
    25% {
        width: 8rem;
        height: 8rem;
    }
    35% {
        width: 4rem;
        height: 4rem;
    }
    70% {
        width: 8rem;
        height: 8rem;
    }
    100% {
        width: 6rem;
        height: 6rem;
    }
}

.mouse-dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--sec);
    animation: mouseDotAnim 10s infinite linear;
}

@keyframes mouseDotAnim {
    0% {
        width: 0.5rem;
        height: 0.5rem;
    }

    55% {
        width: 1.5rem;
        height: 1.5rem;
    }
    100% {
        width: 0.5rem;
        height: 0.5rem;
    }
}

.page-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url('./images/bg.jpg') center no-repeat;
    background-size: cover;
}

.section-1 {
    position: relative;
    width: 100%;
    height: 100vh;
}

.logo {
    font-family: 'Fredericka the Great', serif;
    position: absolute;
    top: 2rem;
    left: 5rem;
    font-size: 2rem;
    color: var(--gold); 
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.circle {
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    opacity: 0.5;
    position: relative;
    top: 0;
    left: 0;
    transition: left 2s, top 2s; 
}

.circle-1 {
    background: url('./images/circles/circ-1.jpg') center no-repeat;  
}

.circle-2 {
    background: url('./images/circles/circ-2.jpg') center no-repeat;    
}

.circle-3 {
    background: url('./images/circles/circ-3.jpg') center no-repeat;
}

.circle-4 {
    background: url('./images/circles/circ-4.jpg') center no-repeat;
}

.circle-1,
.circle-2,
.circle-3,
.circle-4 {
    background-size: cover;
    background-clip: content-box;
    border: 0.5rem solid var(--black);
}

.main-circle {
    width: 55rem;
    height: 55rem;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
}

.main-circle img {
    mix-blend-mode: color-dodge;
    position: relative;
    top: 0;
    left: 0;
    transition: left 2s, top 2s;
}

.featured-text {
    font-family: 'Fredericka the Great', serif;
    font-size: 2rem;
    color: var(--gold);
    text-transform: uppercase;
    width: 0;
    word-wrap: break-word;
    line-height: 3.5;
    position: sticky;
    top: 0;
}

.featured-text-1 {
    margin: 0 auto 0 10rem;
}

.featured-text-2 {
    margin: 0 10rem 0 auto;
}

@media (max-width: 1500px) {
    .circle {
        width: 15rem;
        height: 15rem;
    }
    .main-circle {
        width: 45rem;
        height: 45rem;
    }
    .main-circle:hover {
        width: 55rem;
        height: 55rem;
    }
    .main-circle img {
        width: 160%;
        height: 160%;
    }
}

@media (max-width: 1350px) {
    .circle {
        display: none;
    }
}

@media (max-width: 1150px) {
    html {
        font-size: 55%;
    }
    .mouse-circle,
    .mouse-dot {
        display: none;
    }
    .main-circle {
        width: 40rem;
        height: 40rem;
    }
    .main-circle:hover {
        width: 45rem;
        height: 45rem;
    }
}

@media (max-width: 900px) {
    .featured-text-1 {
        margin: 0 auto 0 5rem;
    }
    .featured-text-2 {
        margin: 0 5rem 0 auto;
    }
}

@media (max-width: 700px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 550px) {
    html {
        font-size: 40%;
    }
    .main-circle img {
        width: 180%;
        height: 180%;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 35%;
    }
    .logo {
        font-size: 1.7rem;
        top: 13rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .main-circle {
        width: 38rem;
    }
    .main-circle:hover {
        width: 42rem;
    }
    .main-circle img {
        width: 200%;
        height: 200%;
    }
}